{
	"plugins": [
		// ["import", { "libraryName": "antd" }],
		["import", 
			{ "libraryName": "antd", "libraryDirectory": "es", "style": true }, "antd" 
		],
		["import", 
			{ "libraryName": "@ant-design/icons", "camel2DashComponentName": false }, "antd-icons"
		]
		// ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
	]
}