@font-face {
    font-family: 'segoeuil';
    src: url(../font/segoeuil.ttf);
}

.w-100 {
    width: 100%;
}

.w-min-90h {
    min-height: 90vh;
}

.txt-white {
    color: white;
}

.row-sp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.bg-blur {
    padding: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(20, 30, 70, 0.4);
    border-radius: 7px;
}

.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.img-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.img-tags {
    position: absolute;
    top: 10px;
    right: 10px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.date-spotlight {
    position: absolute;
    left: 20px;
    bottom: 40px;
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'segoeuil';
}

.dash-content {
    width: 95%;
    height: 85%;
    max-width: 95vw;
    max-height: 85vh;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.dash-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 2.5vw;
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-foot-refresh {
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 100%;
    width: 15px;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.1);
    border-left: #ede solid 1px;
}

.dash-foot-clock {
    position: absolute;
    right: 30px;
    color: white;
    margin: auto 0px;
}

.ic-footer {
    font-size: 200%;
    color: #37f;
    margin-right: 12px;
}

.ic-footer:hover{
    cursor: pointer;
    font-size: 250%;
    background-color: white;
    padding: 3px;
    border-radius: 50px;
}


.admin-menu {
    width: 50%;
    backdrop-filter: blur(15px);
    background-color: rgba(20, 30, 70, 0.5);
    padding: 20px 0 20px 20px;   /* top right bottom left */
    border-radius: 7px;
}
.admin-menu > h1 {
    color: white;
    padding-left: 40px;
    margin-bottom: 40px;
}

.admin-menu-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: white; */
}

.sub-admin-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 30%;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}
.sub-admin-menu:hover{
    background-color: white;
    border-radius: 100px;
    color: #37f;
}

.ic-admin-menu {
    font-size: 200%;
    color: #37f;
    margin-right: 10px;
}

.title-add {
    color: #13c2c2;
    font-weight: bold;
}

.ic-back {
    position: absolute;
    top: 30px;
    right: 35px;
    font-size: 20px;
    color: white
}

.grafik-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grafik-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}
.grafik-header-box {
    padding: 10px 30px;
    backdrop-filter: blur(10px);
    background-color: rgba(20, 30, 70, 0.4);
    border-radius: 20px 0 20px 0;
    color: white;
    /* line-height: 1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
}
.grafik-header-count {
    font-weight: 500;
    font-size: 35px;
    margin-top: auto;
    text-align: left;
    padding: 0px 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(50, 60, 100, 0.4);
    margin-right: 15px;
}
.grafik-header-title {
    font-size: 20px;
}
.grafik-header-view{
    width: fit-content;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.grafik-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.grafik-body-box {
    padding: 0;
    height: 230px;
    width: 600px;
    margin-bottom: 10px;
}

.grafik-body-boxtitle {
    font-size: 19px;
    color: white;
    text-align: center;
    margin-bottom: 0;
    /* line-height: 1px; */
}

.custom-tooltip{
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    border-radius: 20px 20px 20px 0;
    padding: 15px 15px 5px 15px;
    line-height: 5px;
    font-weight: 500;
    color: black;
}

.modal{
    position: fixed; 
    width: 100%;
    height: 100%; 
    top: 0; 
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-outside{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 24, 39, 1);
    opacity: 0.5
}
.modal-content{
    background: white;
    min-width: 80%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem; 
    z-index: 50;
    padding: 1.2rem 1.5rem;
    position: relative;
}

.loader-content{
    display: block;
    height: 36px;
    width: 13px;
    background: #ffffff;
    margin-right: 24px;
    animation: scale 1600ms ease-in-out;
    animation-delay: 100ms;
    transform-origin: 50% 50%;
    box-shadow: 2px 2px 2px #3ff9dc;
}
.bar-1 {
    animation-iteration-count: infinite;
    animation-delay: 100ms;
}
.bar-2 {
    animation-iteration-count: infinite;
    animation-delay: 300ms;
}
.bar-3 {
    animation-iteration-count: infinite;
    animation-delay: 400ms;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(2.1);
    }
    50% {
        transform: scale(1);
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

/* PULSE BUBBLES */
.pulse-container {
    width: 140px;
    display: flex;
    justify-content: space-between;
}
.pulse-bubble {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #3ff9dc;
}
.pulse_bubble-1 {
    animation: pulse .4s ease .1s infinite alternate;
}
.pulse_bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}
.pulse_bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
} 
@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: .25;
        transform: scale(.75);
    }
}